<%= form_for(:employee, url: create_and_update_employee_path(token: params[:token], type: params[:type]), :html => { :id => 'add_employee_form' }) do |f| %>
  <div class= "row">
    <div class = "col-3">
      <%= f.label :first_name, 'First Name', class: "control-label required"%>
      <%= f.text_field :first_name, id: 'first_name',  class: 'form-control', placeholder: 'First Name', value: @employee_detail&.first_name, readonly: @readonly%>
    </div>

    <div class = "col-3">
      <%= f.label :last_name, 'Last Name', class: "control-label required"%>
      <%= f.text_field :last_name, id: 'last_name',  class: 'form-control', placeholder: 'Last Name', value: @employee_detail&.last_name, readonly: @readonly%>
    </div>

    <div class = "col-3">
      <%= f.label :email,'Email', class: "control-label required"%>
      <%= f.email_field :email, id: 'email', class: 'form-control', value: @employee_detail&.email, placeholder: 'Email', readonly: @readonly%>
    </div>

    <div class = "col-3">
      <%= f.label :Designation, 'Designation', class: "control-label"%>
      <%= f.text_field :designation ,id: 'designation', class: 'form-control', placeholder: 'Designation', value: @employee_detail&.designation, readonly: @readonly%>
    </div>
  </div>


  <div class="field_wrapper" style = "margin-top: 15px;"></div>
  <% if params[:type].to_i == 1 %>
    <div class = "text-right">
      <%= f.button 'Refresh', type: :reset, class: 'btn btn-primary mr-2', title: 'Refresh'%>
      <%= f.submit 'Save', onclick: 'submit_form()', type: :button, class:'btn btn-primary'%>
    </div>
  <% elsif params[:type].to_i == 2 %>
    <div class = "text-right">
      <%= f.button 'Refresh', type: :reset, class: 'btn btn-primary mr-2', title: 'Refresh'%>
      <%= f.submit 'Update', onclick: 'submit_form()', type: :button, class:'btn btn-primary'%>
    </div>
  <% elsif params[:type].to_i == 3 %>
    <div class = "text-right">
      <%= link_to 'Back', :back, class: 'btn btn-primary', role: 'button' %>
    </div>
  <%end%>
<%end%>

<script type="text/javascript">
  function submit_form(){
    if($('#first_name').val() == 0){
      alert_message('Please Enter First Name', 'info', 'OK');
      return false;
    }
    if($('#last_name').val() == 0){
      alert_message('Please Enter Last Name', 'info', 'OK');
      return false;
    }
    if($('#email').val() == 0){
      alert_message('Please Enter Email', 'info', 'OK');
      return false;
    }
     $('#add_employee_form').submit();
  }

</script>
